<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Clases.presentation.ClasesModelWizardID"
            name="%_UI_ClasesModelWizard_label"
            class="Clases.presentation.ClasesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ClasesModelFile.gif">
         <description>%_UI_ClasesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Clases.presentation.ClasesEditorID"
            name="%_UI_ClasesEditor_label"
            icon="icons/full/obj16/ClasesModelFile.gif"
            extensions="clases"
            class="Clases.presentation.ClasesEditor"
            contributorClass="Clases.presentation.ClasesActionBarContributor">
      </editor>
   </extension>

</plugin>
